@media (min-width: 30em) {
.card {
  width: 30em;
  margin: auto;
  padding: 0;
  box-shadow:0px 2px 10px #999;
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  align-items: center;
}
}

@media (max-width: 30em) {
.card {
  width: 100%;
  margin: auto;
  box-shadow:0px 2px 10px #999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

.card a {
  color:#333;
}

.card-item {
  margin: 0.5em 1em 0em 1em;
}

.info {
  width: 100%;
  padding: 0.1em 0em 1em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info a{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-item {
  margin: 0.2em 0.3em 0.5em 0.3em;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.form-item input {
  height: 2em;
  border-radius: 0.3em;
  -webkit-appearance:none;/*去除阴影边框*/
  border: 0.05em solid #888;
}

.status-info {
  margin: 1em 1em 0.5em 1em;
}
.status-info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status-info-item button{
  width: fit-content;
}

.light-button {
  height: 3em;
  min-width: 5em;
  margin: 0.2em 0.3em 0.2em 0.3em;
  border-radius: 0.3em;
  background-color: #fff;
  border: 0.05em solid #888;
}

.light-button:active {
  transform: scale(0.98);
  box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.24);
  opacity: 0.5;
}

.file-list {
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.file-item {
  margin: 0.3em 1em 0.3em 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  list-style-type: none;
  box-shadow:0em 0.1em 0.3em #999;
  /* 文字超出部分采用... */
  text-overflow:ellipsis;
  overflow:hidden; 
  white-space:nowrap; 

  display: flex;
  flex-direction: column;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
}

.slide-enter-active {
  transition: all 0.5s ease-out;
}
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-from {
  transform: translateX(4em) scale(0.1);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(4em) scale(0.1);
  opacity: 0;
}

.slice-in {
  animation: SliceIn 1s;
}
.slice_out {
  animation: SliceOut 1s;
}
@keyframes SliceIn {
  from {
    opacity: 0;
    transform: translate3d(100%,0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes SliceOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(100%,0, 0);
  }
}

.file-item button {
  height: 2.5em;
}
.file-item div {
  margin: 0.4em 0.3em 0.4em 0.3em;
  white-space:normal;
  word-break:break-all;
}
.file-item-detail {
  display: flex;
  flex-wrap:wrap;
}
.file-item-detail-img {
  max-width: 12em;
}

.hide {
  display: none;
}

.inactive {
  pointer-events: none;
  background:#dddddd;
  opacity: 0.5;
}

.loading_btn {
  pointer-events: none;
  background:#eee;
  animation: OpacityBreath 2s ease-in-out infinite;
}

.loading_btn span {
  opacity: 1;
}

@keyframes OpacityBreath {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

.card-title {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-title select{
  width: 6em;
  margin: 0em 1em 0em 1em;
  outline: none;
  -webkit-appearance: button;
}
.card-title :first-child {
  width: 6em;
}
